<footer class="main-footer">
    <div class="container main-footer-container">
        <h3 class="header-name">The Tech Store</h3>
        <ul class="nav footer-nav">
            <div class= "margin-top">
                <button class="btn-danger margin-right" onclick="toggleTheme('dark'); ">Dark</button>

                <button class="btn-danger" onclick="toggleTheme('light');">Light Mode</button> 
                </div>
        </ul>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
<script src="js/script.js"></script>
</body>

</html>